<%- include('header'); -%>
    <link rel="stylesheet" href="homepage.css">

    </head>

    <body class="container-fluid">
        <%- include('navbar'); -%>
            <section class="hidden">
                <h1 class="text-light text-center mt-5">Doubts? Ask ChatGPT</h1>
                <form action="/doubts" method="post" class="text-center mt-5 col-lg-6 mx-auto">
                    <input type="text" name="chat" class="form-control" placeholder="Type your question here">
                    <h1 class="text-light text-center mt-5">Answer</h1>
                    <textarea row="100" cols="100" class="mb-5 d-inline form-control text-center"><%= answer %></textarea>
                </form>
                
            </section>
    <script src="animation.js"></script>
    <%- include('footer'); -%>
