<%- include('header'); -%>
<link rel="stylesheet" href="homepage.css">

</head>

<body >
    <%- include('navbar'); -%>
    <section class="hidden ">
        <h1 class="text-light text-center mt-5">Welcome to Study Buddy</h1>
        <h1 class="text-light text-center mt-5">Use our website to bring your focus back and get your work done.</h1>
    </section>
<script src="animation.js"></script>
<%- include('footer'); -%>